extends layout

block content
    .centered
        .cards
            .card
                h2 Afghanistan
                .row
                    .cases
                        h3 Confirmed Cases
                        .row
                            .new 
                                h4 New
                                .count 6
                            .total 
                                h4 Total
                                .count 24
                    .deaths
                        h3 Deaths
                        .row
                            .new 
                                h4 New
                                .count 1
                            .total
                                h4 Total
                                .count 3
                    .recovered
                        h3 Recovered
                        .row
                            .new 
                                h4 New
                                .count 1
                            .total
                                h4 Total
                                .count 3
            .card
                h3 United States
                .row
                    .cases
                        h3 Confirmed Cases
                        .row
                            .new 
                                h4 New
                                .count 6
                            .total 
                                h4 Total
                                .count 24
                    .deaths
                        h3 Deaths
                        .row
                            .new 
                                h4 New
                                .count 1
                            .total
                                h4 Total
                                .count 3
                    .recovered
                        h3 Recovered
                        .row
                            .new 
                                h4 New
                                .count 1
                            .total
                                h4 Total
                                .count 3
            .card
                h3 Germany
                .row
                    .cases
                        h3 Confirmed
                        .row
                            .new 
                                h4 New
                                .count 6
                            .total 
                                h4 Total
                                .count 24
                    .deaths
                        h3 Deaths
                        .row
                            .new 
                                h4 New
                                .count 1
                            .total
                                h4 Total
                                .count 3
                    .recovered
                        h3 Recovered
                        .row
                            .new 
                                h4 New
                                .count 1
                            .total
                                h4 Total
                                .count 3
    p Visit the  
        a(href='/about') about pages